body{
    padding:0;
    margin:0;   
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    max-width:100%;
}
.product-area{
	padding:60px 0;
}
.product-image {
	text-align: center;
}
.product-image img {
	width: 85%;
}
.product-content h2 {
    font-size: 35px;
    padding-bottom: 3px;
    font-weight: 500;
}

h3 {
    font-size: 1.75rem;
    font-size: 16px;
    font-weight: 600;
}

.memory-area, .storage-area, .delivery-options {
    margin-bottom: 30px;
}
button {
    padding: 7px 15px;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #000;
}
.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1330px;
}
tr {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    display: inherit;
    margin-bottom: 5px;
    line-height: 31px;
    
}
td{
    font-weight: 600;
}
tr td:first-child {
    width: 190px;
    display: inline-block;
}
tbody, td, tfoot, th, thead, tr {
    padding: 7px 8px;
}