body{
    padding:0;
    margin:0;   
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    max-width:100%;
}
.product-area{
	padding:60px 0;
}
.product-image {
	text-align: center;
}
.product-image img {
	width: 85%;
}
.product-content h2 {
	font-size: 35px;
	padding-bottom: 3px;
}